<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Google font links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">

  <title>The Earth is Breathing</title>

</head>
<body>
   <header>
   <h1 class="wavy">THE EARTH IS BREATHING</h1>
   <p class="sub-head">A project by Kris, Gabrielle and Scott</p>
   </header>

  {% block content %}{% endblock %}
  <script src="/js/wave.js"></script>
</body>
</html>