{% extends "base.njk" %}

{% block content %}

<div class="landing-container">

  <!-- Main entry -->

  <!-- Wave source selection -->

  <div class="wave-source">
    <p class="wave-label">choose your wave source</p>

    <div class="wave-buttons">
      <a class="location-btn" href="/index?location=honolulu">Honolulu</a>
      <a class="location-btn" href="/index?location=gulf-of-Mexico">Gulf of Mexico</a>
    </div>

  </div>

</div>

{% endblock %}
