{% extends "base.njk" %}

{% block content %}

<div class="landing-container">

  <!-- Main entry -->

  <!-- Wave source selection -->

  <div class="wave-source">
    <img src="/assets/circle-earth.svg" alt="Earth" class="earth spin">
    <p class="wave-label">Choose Locations</p>

    <div class="wave-buttons">
      <a class="location-btn" href="/honolulu">Honolulu</a>
      <a class="location-btn" href="/tokyo">Tokyo</a>
      <a class="location-btn" href="/sf">San Francisco</a>
    </div>

  </div>

</div>

{% endblock %}
