{% extends "base.njk" %}

{% block content %}

<a href="/about" class="about-btn">ABOUT</a>

<section class="landing-page">
  <div class="landing-container">

    <div class="hero-visual">
      <img src="/assets/background.gif" class="hero-gif">
      <h1 class="hero-title">The Earth Is Breathing</h1>
    </div>

    <div class="wave-source">
      <p class="wave-label">Choose a Location</p>

      <div class="wave-buttons">
        <a class="location-btn" href="/honolulu">Honolulu</a>
        <a class="location-btn" href="/tokyo">Tokyo</a>
        <a class="location-btn" href="/sf">San Francisco</a>
      </div>
    </div>

  </div>
</section>
{% endblock %}
