{% extends "base.njk" %}

{% block content %}

<p class="wave-title">San Francisco</p>
<div id="ekg"></div>

<!-- Link to p5, make sure this is in every location.njk file -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.11.11/lib/p5.min.js"></script>
<script src="/js/sf-lines.js"></script>


{% endblock %}